@import "tailwindcss";

@theme inline {
  --color-background: var(--bg-main);
  --color-bg-card: var(--bg-card);
  --color-bg-button: var(--bg-button);
  --color-bg-hover: var(--bg-hover);
  --color-foreground: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-button: var(--bg-card);
  --color-text-link: var(--sz-color);
  --color-border-card: var(--border-card);
  --color-border-input: var(--border-input);
  --color-status-success: var(--status-success);
  --color-status-error: var(--status-error);
  --color-status-warning: var(--status-warning);

  --radius-card: var(--radius);

  --font-sans: var(--font-geist-sans);
}

:root {
  --radius: 0.625rem;
  --bg-main: #000000;
  --bg-card: #0a0a0a;
  --bg-button: #ededed;
  --bg-hover: #1f1f1f;
  --text-primary: #ffffff;
  --text-secondary: #8f8f8f;
  --text-button: #0a0a0a;
  --sz-color: #0070f3;
  --border-card: #252525;
  --border-input: #242424;
  --status-success: #50e3c2;
  --status-error: #ff0000;
  --status-warning: #f5a623;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}
